.room {
    --occupied-color: #FF6961;
    --reserved-color: #f8d66d;
    --free-color: #8cd47e;
}

.occupied {
    background-color: var(--occupied-color);
    stroke: var(--occupied-color);
    fill: var(--occupied-color);
}

.reserved {
    background-color: var(--reserved-color);
    stroke: var(--reserved-color);
    fill: var(--reserved-color);
}

.free {
    background-color: var(--free-color);
    stroke: var(--free-color);
    fill: var(--free-color);
}

html, body, body > div:first-child, div#__next, div#__next > div {
    height: 100%;
}