.occupied {
    background-color: #FF6961;
    stroke: #FF6961;
    fill: #FF6961;
}

.reserved {
    background-color: #F8D66D;
    stroke: #F8D66D;
    fill: #F8D66D;
}

.free {
    background-color: #8CD47E;
    stroke: #8CD47E;
    fill: #8CD47E;
}

html, body, body > div:first-child, div#__next, div#__next > div {
    height: 100%;
}