@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroll {
  height: 180px;
  width: max-content;
  flex-wrap: nowrap;
}

.scroll_container {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 180px;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);
  mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);
}