@keyframes scroll {
  0% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-20%);
  }
}

.fast {
  animation: scroll 20s linear infinite;
  animation-direction: alternate;
}

.medium {
  animation: scroll 40s linear infinite;
  animation-direction: alternate;
}

.slow {
  animation: scroll 60s linear infinite;
  animation-direction: alternate;
}

.scroll {
  height: 180px;
  width: max-content;
  flex-wrap: nowrap;
}

.scroll_container {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 180px;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);
  mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);
}